body,table,td,tr {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

/*td.menu,a.menu,a.menu:visited,a.menu:active,a.menu:hover {
        color: #FFFFFF;
}*/

a,a:visited,a:active {
	color: #000000;
	text-decoration: underline;
}

a:hover {
	color: #000000;
	text-decoration: none;
}

table.maintable {
	background-color: #b7b7b7;
}

td.maintable {
	background-image: url( './background_r.gif' );
}

td.title {
	text-decoration: none;
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 18px;
	font-weight: normal;
	background-image: url( './background_r.gif' );
}

input,select,textarea {
	color: black;
	text-decoration: none;
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #929292;
	background-color: #EBEEF7;
}
